.cast-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 250px;
  height: 405px;
  margin: 44px 38px 0;
  position: relative;
}

.cast-wrapper img {
  width: 250px;
  height: 370px;
}

.name {
  font-weight: 700;
  font-size: 18px;
  color: #111827;
}

@media (max-width: 500px) {
  .cast-wrapper img {
    width: 200px;
    height: 300px;
  }
}
