.arrivals-container {
  display: flex;
  flex-direction: column;
  padding: 70px 38px 0 38px;
}

@media (max-width: 750px) {
  .arrivals-container {
    padding: 70px 8px 0 8px;
  }
}

@media (max-width: 420px) {
  .arrivals-container {
    padding-top: 70px;
  }
}
