.custom-input {
  width: 394px;
  position: relative;
}

input {
  padding: 15px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(76, 78, 100, 0.22);
  border-radius: 8px;
  margin-bottom: 14px;
  position: relative;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: rgba(76, 78, 100, 0.22);
}

.icon {
  position: absolute;
  transform: translateY(-50%);
  right: 5%;
  top: 42%;
  color: rgba(76, 78, 100, 0.249);
}
